:local(.genderContainer) {
    width: 100%;
    display: block;
}
:local(.genderInputs) {
    margin: 8px;
    color: white;
    display: inline-block;
}
:local(.genderLabel) {
    color: white;
    margin: 8px 0 0 8px;
}