:local(.paginationControls) {
    padding: 4px;
}
:local(.paginationControls button) {
    width: 25px;
    margin: 2px;
    height: 25px;
    padding: 1px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
    background: transparent;
}
:local(.paginationControls button:hover) {
    background: white;
    color: #849fff;
}
:local(.paginationControls button.active) {
    font-weight: bolder;
    background: white;
    color:red;
}